fastapi>=0.116.0
functions-framework>=3.8.3
google-adk>=1.17.0
google-cloud-firestore>=2.21.0
google-cloud-pubsub>=2.31.0
google-genai>=1.36.0
httpx>=0.28.1
jinja2>=3.1.6
pydantic-settings>=2.10.0
python-multipart>=0.0.20
